<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
위의 태그는 REST API 사용 시 사용 불가-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Main Page</h2>
    <button type="button" class="btn btn-primary" onclick="login();">로그인</button>
    <button type="button" class="btn btn-primary" onclick="join();">회원가입</button>
    <button type="button" class="btn btn-primary" onclick="authorization();">프로필</button>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    function login() {
        location.href = "/login_page";
    }

    function join() {
        location.href = "/join";
    }

    function authorization() {
        location.href = "/myprofile";
    }
</script>
</body>
</html>
